<% @page_title = "Delete section" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'btn btn-default')  %>

<div class="section edit">
  <h2>Delete Dection</h2>

  <%= form_tag({:action => 'destroy', :id => @section.id, :page_id => @page.id}, :html => {:class => 'form-horizontal'}) do %>
    <p>Are you sure you want to permanently delete this section?</p>

    <p class="reference-name"><%= @section.name %></p>

    <%= render(:partial => "partials/submit_button")  %>

  <% end %>
</div>
