<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')  %>

<div class="section edit">
  <h2>Update Section</h2>

  <%= form_for(:section, :url => {:action => 'update', :id => @section.id}, :html => {:class => 'form-horizontal'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f})  %>

    <%= render(:partial => "partials/submit_button")  %>

  <% end %>
</div>
