<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')  %>

<div class="section new">
  <h2>Create Section</h2>

  <%= form_for(:section, :url => {:action => 'create'}, :html => {:class => 'form-horizontal'} ) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f})  %>

    <%= render(:partial => "partials/submit_button")  %>

  <% end %>
</div>
