<% @page_title = "Edit subject" %>

<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link')  %>

<div class="subject edit">
  <h2>Update Subject</h2>

  <%= form_for(:subject, :url => {:action => 'update', :id => @subject.id}, :html => {:class => 'form-horizontal'}) do |f| %>

    <%= render(:partial => "form", :locals => {:f => f}) %>

    <%= render(:partial => "partials/submit_button")  %>

  <% end %>
</div>
